#Learning
/learning
#Test
/Test
#Test Script
test_gen_script.cpp
test_gen_script.exe
#Database
*.db
# Executable
my_program
my_program.exe

# Object files
*.o

# Environment file (Do NOT upload secrets!)
.env

# VSCode files (if you use it)
.vscode/